<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/article.css">
  </head>

  <body>
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main id="app">

      <div class="shifted-container">

        <h1 class="title"><%= articlename %></h1>
        <section style="height: 10px;"></section>

        <!-- not my proudest piece of code. -->
        <p id="published-time" class="text-muted">
          By <%= articleauthor %><br>
          Published 
          <%= 
            `${/^(\w+)\s(\w+\s\d+\s\d+)\s(\d+:\d+:\d+)/.exec(articledate)[1]}, 
            ${/^(\w+)\s(\w+\s\d+\s\d+)\s(\d+:\d+:\d+)/.exec(articledate)[2]} at 
            ${/^(\w+)\s(\w+\s\d+\s\d+)\s(\d+:\d+:\d+)/.exec(articledate)[3]}` 
          %>
        </p>

        <hr>

        <img src="<%= articleimageurl %>" id="article-top-image">

        <section style="height: 20px;"></section>

        <p> <%= articlecontent %> </p>

        <section style="height: 100px;"></section>

        <hr>

      </div>
      
      <div class="shifted-container">


        <div style="background: #DEDEDE; padding: 15px 5px 15px 5px;">

          <h3 style="margin-left: 10px;">More Articles...</h3>

          <div class="d-flex flex-row flex-nowrap overflow-auto">

            <div v-for="article in articles">
              <div v-if="article.title!=articlename">
                <div class="card card-block mx-2" style="min-width: 200px; max-width: 250px; margin-bottom: 10px; height: 450px;">
                  <img class="card-img-top" v-bind:src="article.imageurl"  alt="Article Image" id="article-bottom-img">
                  <div class="card-body">
                    <h5 id="article-scroll-card-title" class="card-title">{{article.title}}</h5>
                    <p class="card-text text-muted" id="article-scroll-content">{{article.content}}</p>
                    <a v-bind:href="'/articles/'+encodeURI(article.title)" style="position: absolute; bottom: 15px;" class="btn btn-primary">Go</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        
        </div>
      
      </div>
    </main>

    <!-- Include Footer -->
    <%- include('../partials/footer.ejs'); %>

  </body>

  <!-- can you do the vue pokery here thanks -->
  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          articles: null,
          articlename: '<%= articlename %>'
        }
      },
      mounted () {
        axios
          .get('/api/v1/rest/output/articles')
          .then(response => (this.articles = response.data))
      }
    })
  </script>

</html>