<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/article.css">

  </head>

  <body>
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main id="app">
    
      <div class="container mt-5" v-if="isLoaded">
        <!--
        <div style="color:gray" class="d-flex justify-content-center">
          <div class="p-2">By</div>
          <div class="p-2" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            </svg>
          </div>
          <div class="p-2"><span id="time">test</span> min read</div>
          <div class="p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            </svg>
          </div>
          <div class="p-2" id="date">Published</div>
        </div>
        -->

        <!--
        <div class="d-flex justify-content-center">
          <h1 font-size="90px" class="fw-bold"></h1>
        </div>
        <div class="d-flex justify-content-center">
          <img class="img-fluid mt-3 mb-3" style="object-fit: cover;" src=""></img>
        </div>
        <div style="color:gray" class="d-flex justify-content-center mb-5">
          <div>figcaption</div>
        </div>
        <div id="article" class="px-5 mb-5">
        </div>
        <hr>
        -->

        <h1 class="title" style="text-align: left; margin-bottom: 20px;">
          {{ article.title }}
        </h1>

        <hr>
        <h5>
          <ul>
            <li>
              A synopsis of this article. Currently a placeholder, but a <code>synopsis</code> property will soon be added.
            </li>
            <li>
              The format of the synopsis can either be a paragraph, or a list - like it is currently.
            </li>
          </ul>
        </h5>

        <div style="text-align: left;">
          <div class="author-pic">Image</div>
          <div class="article-info-wrap">
            <div class="article-information">
              <div><%= articleauthor %></div>
              <div class="text-muted">
                Published
                {{
                  /(\d+:\d+)/.exec(article.DATE)[0] + ", " +
                  /(\w+\s\d+\s\d+)/.exec(article.DATE)[0]
                }}
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center" style="margin-top: 30px;">
          <figure>
            <img class="img-fluid mt-3 mb-3" style="object-fit: cover;" v-bind:src="article.imageurl"></img>
            <figcaption>A Figcaption</figcaption>
          </figure>
        </div>

        <div id="article" class="article-content-body">
          {{article.content}}
        </div>

      </div>
      <div class="container">
        <div>
          <div class="d-flex justify-content-between mt-2">
            <h4>Recent Articles</h4>
            <h4><a href="/articles" style="color:black;text-decoration: none;"><i>Read More</i></a></h4>
          </div>
        </div>
        <div class="row mb-2 mt-2" style="display: flex; flex-wrap: wrap;">
          <div class="col-md-4" v-for="article in articles.slice(0, 3)">
            <div style="height: 100%;" id="article-block" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <div class="mb-1 text-muted">
                  {{ /^[a-zA-Z]+\s([a-zA-Z]+)\s(\d+)/.exec(new Date(/^[\d]{4}-([\d]{2})-([\d]{2})/.exec(article["DATE"])[0]))[2] + ' ' + /^[a-zA-Z]+\s([a-zA-Z]+)\s(\d+)/.exec(new Date(/^[\d]{4}-([\d]{2})-([\d]{2})/.exec(article["DATE"])[0]))[1] }}
                  <span style="float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                    <span style="margin-left: -6px; vertical-align: middle;">
                      {{Math.ceil(Math.random()*10)}}
                    </span>
                  </span>
                </div>
                <a class="h5 mb-0" id="new-article-card-title" v-bind:href="'/articles/'+encodeURI(article.title)">{{article.title}}</a>
                <br>
                <p class="card-text mb-auto" v-html="article.content.substring(0, 50)+'...'"></p>
                <a v-bind:href="'/articles/'+encodeURI(article.title)" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="100%" style="object-fit: cover;" v-bind:src="article.imageurl"></img>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Include Footer -->
    <%- include('../partials/footer.ejs'); %>

  </body>

  <!-- can you do the vue pokery here thanks -->
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
  
  </script>

  <!--
  <script>
    function readingTime() {
    const text = document.getElementById("article").innerText;
    const wpm = 225;
    const words = text.trim().split(/\s+/).length;
    const time = Math.ceil(words / wpm);
    document.getElementById("time").innerText = time;
  }
  readingTime();
  </script> -->
  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          articles: null,
          threearticles: {},
          isLoaded: false,
          article: {}
        }
      },
      mounted () {
        axios
          .get('/api/v1/rest/output/articles')
          .then(response => (this.articles = response.data))
          .then(response => this.threearticles = (response.data).slice(0,3))

        axios
          .get('/api/v1/rest/output/article', {headers: {title: "<%= articlename %>"}})
          .then(response => (this.article = response.data))
          .then(this.isLoaded = true)
      }
    })

  </script>

  <script>
  setTimeout(() => {  document.getElementById('date').innerHTML = (/^[a-zA-Z]+\s([a-zA-Z]+)\s(\d+)/.exec(new Date(/^[\d]{4}-([\d]{2})-([\d]{2})/.exec(document.getElementById('app').__vue__.articledate)))[2] + ' ' + /^[a-zA-Z]+\s([a-zA-Z]+)\s(\d+)/.exec(new Date(/^[\d]{4}-([\d]{2})-([\d]{2})/.exec(document.getElementById('app').__vue__.articledate)))[1]) }, 2000);
  
  </script>


  
</html>