<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/survey.css">
  </head>

  <body>
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main id="app">

      <div class="shifted-container">
      
        <h1 class="title">Thanks for your input.</h1>
        <p>This data will help us enormously in making important predictions about the environment.</p>

        <div class="card bg-white border-0" style="width: 100%;">
          <div class="card-body">
            <h3 class="card-title">Your Responses</h3>

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Question</th>
                  <th scope="col">Answer</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <th scope="row">How do you feel today?</th>
                  <td>{{myData.q1}}/5</td>
                </tr>
                <tr>
                  <th scope="row">How well could you concentrate?</th>
                  <td>{{myData.q2}}/5</td>
                </tr>
                <tr>
                  <th scope="row">How stressful has your work been?</th>
                  <td>{{myData.q3}}/5</td>
                </tr>
                <tr>
                  <th scope="row">Have you encountered any dizziness, headaches, or shortness of breath lately?</th>
                  <td>{{myData.q4}}</td>
                </tr>
                <tr>
                  <th scope="row">Have you had any allergic responses today?</th>
                  <td>{{myData.q5}}</td>
                </tr>
                <tr>
                  <th scope="row">Longitude/Latitude</th>
                  <td>{{myData["q6.1"]}} / {{myData["q6.2"]}}</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

      </div>

    
      <h6>The form currently has <%= formcount %> responses</h6> 
    

    </main>

    <!-- Include Footer -->
    <%- include('../partials/footer.ejs'); %>

  </body>

  <!-- Insert laziness here -->
  <style>
    .submitted-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

    }
  </style>

  <script>

    var app = new Vue({
      el: '#app',
      data: {
          myData: JSON.parse('<%- data %>')
      }
    }) 

  </script>
</html>